In [12]:
marks={
    "beauty":100,
    "rohan":56,
    "vivek":76,
}

print(marks)
print(type(marks))
print(marks["beauty"])


#dic methods
#1.marks.itmes():
marks={
    "beauty":100,
    "rohan":56,
    "vivek":76,
}
print(marks.items())

#2.marks.keys():
print(marks.keys())

#3.marks.updates():
marks.update({"beauty":99,"rohan":70})
print(marks)

#4.marks.get("name")
print(marks.get("beauty"))
print(marks.get(70))

#5.marks.pop()
print(marks.pop("rohan"))
print(marks)

fruits={"mango":10,"banana":10,"apple":10}
type(fruits)
#extracting keys
fruits.keys()
#extracting value
fruits.values()

#adding new element
fruits["orange"]=30
fruits
#changing the existing element
fruits["mango"]=40
fruits
#update one dictionay element with another
fruits1={"apple":10,"orange":90}
fruits2={"banana":30,"guava":20}
fruits1.update(fruits2)
fruits1

#popping an element
fruits1.pop("apple")
fruits1

{'beauty': 100, 'rohan': 56, 'vivek': 76}
<class 'dict'>
100
dict_items([('beauty', 100), ('rohan', 56), ('vivek', 76)])
dict_keys(['beauty', 'rohan', 'vivek'])
{'beauty': 99, 'rohan': 70, 'vivek': 76}
99
None
70
{'beauty': 99, 'vivek': 76}

{'orange': 90, 'banana': 30, 'guava': 20}

In [ ]:
dict1={
    "stu1":"beauty",
    "age":20
}

print(dict1.get("stu1"))
dict1["stu1"]="viaksh" #update
print(dict1)
dict1["class"]="12th" ##add
print(dict1)




d={"name":"prajwal",1:"python"}
print(d["name"])

beauty
{'stu1': 'viaksh', 'age': 20}
{'stu1': 'viaksh', 'age': 20, 'class': '12th'}
prajwal

In [ ]:
dict2={
    "niti":60,
    "mini":50,
    "vikash":90,
    "mimi":80
}
print(min(dict2.values()))
print(max(dict2.values()))

50
90

In [ ]:
#store the following word meaning in a python dictionay:
#  table:"a piece of furniture","list of facts and figure" cat:"a small animal"
# dict1={
#     "table":["a piece of furniture","list of facts & figures"],
#     "cat":["a small animal"]
# }


subject=["python","java","c++","python","javascript","java","python","java","c++","c"]
unique_sub=set(subject)
class_rooms=len(unique_sub)
print("subject= ",unique_sub)
print("No of classrooms= ",class_rooms)

In [ ]:
#1create a dict of 5 students with their marks .
# print all keys and values seperately .add new student and remove one existing students.
stu1={
    "rohit":90,
    "vikash":95,
    "musu":90,
    "shreya":85,
    "anita":50
}
print(stu1.pop("rohit"))
print(stu1)
stu1["vishal"]=90
print(stu1)
#2write a python program to check whether a given key exist in a dictionay.
key=input("enter the key which you want to check: ")
if key in stu1:
    print(f"key `{key}` present in stu1.")
else:
    print(f"`{key}` is not present in stu1.")

90
{'vikash': 95, 'musu': 90, 'shreya': 85, 'anita': 50}
{'vikash': 95, 'musu': 90, 'shreya': 85, 'anita': 50, 'vishal': 90}
key `musu` present in stu1

In [ ]:
#3given a dictionay of items of their price, find the total cost of all items.
dic1={
    "rice":30,
    "ice-cream":45,
    "honey":65,
    "curd":25
}
total_sum=sum(dic1.values())
print("the sum of all items price is",total_sum)

the sum of all items price is 165

In [39]:
#4combine two dictionary into one using update() and dictionary unpacking.
sets1={
    "rohit":90,
    "vikash":95,
    "musu":90,
}
sets2={
    "musu":90,
    "shreya":85,
    "anita":50
}
sets1.update(sets2)
print(sets1)
#unpacking
# for key, value in sets1.items():
#     print(f"{key}: {value}")

merged={**sets1,**sets2}
print(merged)

{'rohit': 90, 'vikash': 95, 'musu': 90, 'shreya': 85, 'anita': 50}
{'rohit': 90, 'vikash': 95, 'musu': 90, 'shreya': 85, 'anita': 50}

In [ ]:
#5 take a sentence as a input and count the frequency of each word using a dictionary 
sent=input("enter the sentence: ")
words=sent.split()
print(words)
freq={}
for word in words:
    if word in freq:
        freq[word]+=1
    else:
        freq[word]=1
for key,values in freq.items():
    print(f"{key}:{values}")

['python', 'is', 'programming']
python:1
is:1
programming:1

In [ ]:
#6form a list of number remove duplicate using a set
num=[1,5,6,1,8,4,9,0,5]
print(set(num))

{0, 1, 4, 5, 6, 8, 9}

In [ ]:
#7 given two sets A and B .find union,interaction,difference and symmetric
setA={1,3,5,6,8,9,3}
setB={5,"apple","a",59,984}
unionset=setA.union(setB)
print(unionset)
intersection_set=setA.intersection(setB)
print(intersection_set)
diff_set=setA.difference(setB)
print(diff_set)
symm_set=setA.symmetric_difference(setB)
print(symm_set)

{1, 3, 5, 6, 8, 9, 'apple', 'a', 984, 59}
{5}
{1, 3, 6, 8, 9}
{1, 3, 6, 8, 'apple', 9, 'a', 984, 59}

In [12]:
#8 convert a list of city names into a set and display unique cities
list1=["patna","jalandhar","gaya","gaya","jalandhar"]
list2=["patna","delhi","punjab","banarash","gaya"]
set1=set(list1)
set2=set(list2)
comman=set1&set2
print(f"comman in both list is : {comman}")
unique=set1-set2
print(f"Unique is: {unique}")

comman in both list is : {'patna', 'gaya'}
Unique is: {'jalandhar'}

In [10]:
str1="python is easy lang"
str2="python is high level lang."
set1=set(str1.split())
set2=set(str2.split())
comman=set1&set2
print(comman)
unique=set1-set2
print(unique)

{'is', 'python'}
{'lang', 'easy'}

In [13]:
#11 convert the list of tupple into a dictionary
list1=[("rohan",90),("mohit",80),("shreya",78),("preeti",89)]
dict1=dict(list1)
print(dict1)

{'rohan': 90, 'mohit': 80, 'shreya': 78, 'preeti': 89}

In [ ]:
#9 print the maximum and minmum item price from the dict
dict1={
    "rohan":90,
    "preeti":89,
    "mohit":78,
    "priya":65
}
maxi=max(dict1.values())
print(maxi)
mini=min(dict1.values())
print(mini)

90
65

In [ ]:
#10 read two list and display words common to both and words unique to each file using sets.

In [6]:
#11 reverse a dictionary(swap keys and values)
dict1={
    "rohan":90,
    "preeti":89,
    "mohit":78,
    "priya":65
}
rev = {}
for key, value in dict1.items():
    rev[value] = key
print(rev)

{90: 'rohan', 89: 'preeti', 78: 'mohit', 65: 'priya'}